{% extends 'IphpCoreBundle::page-with-header.html.twig' %}


{% block page_body %}


{% if searchForm is defined and searchForm %}
{% block search_form %}
{% form_theme searchForm 'form_table_layout.html.twig' %}
<form action="./" method="get" {{ form_enctype(searchForm) }}>
    {{ form_widget(searchForm) }}
    <input type="submit" value="Искать"/>
</form>
{% endblock search_form %}
{% endif %}


{% if entities is defined and entities %}
{% block entity_list%}

{% for entity in entities %}

{% block entity_list_entry %}
<dl>

    {% block entity_list_entry_title  %}
    <dt><a href="{{ entitypath(entity) }}">{{ entity }}</a></dt>
    {% endblock entity_list_entry_title  %}


    {% block entity_list_entry_announce  %}
    <dd>
         {{ entity.abstract is defined ? entity.abstract | raw  : '' }}
         {{ entity.description is defined ? entity.description | raw : '' }}
         {{ entity.announce is defined ? entity.announce | raw : '' }}
    </dd>
    {% endblock entity_list_entry_announce  %}
</dl>
{% endblock entity_list_entry%}

{% endfor %}
{% endblock entity_list%}


{% block pagination %}
{% include 'IphpCoreBundle::pagination.html.twig' with {'entities': entities} %}
{% endblock pagination %}

{% endif%}

{% endblock page_body %}

