<div class="list-group">
    {% for rubric in rubrics %}
    <a href="{{ entitypath(rubric) }}" class="list-group-item {{ rubric.isActive ? 'active ':'' }}">{{ rubric }}</a>


    {% if rubric.children | length %}
    {#<ul>#}
        {% for subrubric in rubric.children %}
            {# <li {{ subrubric.wrapped is sameas(currentRubric)  ? 'class="active"':'' }}></li>#}

                 <a class="list-group-item {{ rubric.isActive ? 'active ':'' }}" style="padding-left: 40px;font-size: small" href="{{ entitypath(subrubric) }}">{{ subrubric }}</a>
             {% endfor %}
         {#</ul>#}
    {% endif %}


    {% endfor %}
</div>