<ul class="nav navbar-nav">
    {% for rubric in rubrics %}
        <li class="{{ (rubric.isActive ? 'active ') ~  (rubric.hasChildren ? 'dropdown ') }}">

            {% if rubric.hasChildren %}

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ rubric }} <span
                            class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li><a href="{{ entitypath(rubric) }}">{{ rubric }}</a></li>

                    <li class="divider"></li>
                    {% for subrubric in rubric.children %}
                        <li><a href="{{ entitypath(subrubric) }}">{{ subrubric }}</a></li>
                    {% endfor %}
                </ul>

            {% else %}

                <a href="{{ entitypath(rubric) }}">{{ rubric }}</a>

            {% endif %}
        </li>
    {% endfor %}

</ul>
